*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pd-top-bottom-32{
    padding-top: 32px;
    padding-bottom: 32px
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.text-align{
    text-align: center!important
}
.row::after{
    clear:both;
    content: "";
    display: block;
}
.text-white{
    color: #fff !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: calc(100%/3);
}
.col-haft{
    width: 50%;
}
.col-full{
    width: 100%;
}
.mt-8{
    margin-top: 8px!important;
}
.mt-16{
    margin-top: 16px !important;
}
/* main */
#main{
    
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    
}
#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;
    position: relative;
}

#nav > li > a{
    text-transform: uppercase;
    color: #000;
}
#nav > li >a{

    color: white;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a
{
    color: black;
    background-color: #CCE;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    padding: 0 16px;
    line-height: 38px;
}
#nav li:hover .subnav{
    display: block;
    color: #000;
}
#nav li a .icon-down{
    font-size: 10px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    z-index: 1;
   
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .mobile-menu-btn,
#header .search-icon{
    font-size: 20px;
    color: #fff;
    line-height: 46px;
    
}
#header .search-btn .search-icon{
    text-decoration: none;
    padding: 24px
}
#header .mobile-menu-btn:hover{
    color: #000 !important;
    background-color: #ccc;

}
.search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}
#slider{
    position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url("/w3school_band/assets/img/slider/slider1.jpg") top center / cover no-repeat
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
.text-desccription{
    font-size: 15px;
    margin-top: 25px;
}
#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    padding-bottom: 64px;
    padding-top: 64px;
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 10px 0;
}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    margin: 15px 0;
    opacity: 0.6;
}
#content .about-text{
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.6;

}
#content .members-list{
    padding: 32px 0;
}

#content .member-name{
    font-size: 15px;
    margin: 15px 0;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
.tour-section {
    background-color: #000;
}
.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}
.tickets-list li{
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity{
    color: #fff;
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* place */
.places-list{
    margin-top: 16px;
    padding-bottom: 48px;
}

.place-img:hover{
    opacity: 0.6;
}
.place-img{
    width: 100%;
    display: block;
}
.place-body{
    color:#000;
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    
}
.place-heading{
    font-size: 15px;
}
.place-time{
    margin-top: 15px;
    color: #757575;
}
.place-des{
    margin-top: 15px;
    line-height: 1.4;
}
.place-buy-btn:hover{
    color: #000;
    background-color: #CCE;
}
.place-buy-btn{
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}
/* model */
.modal{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    
}
.open {
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-header {
    height: 140px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 5px;
}
.modal-header .bag-icon{
    margin-right: 16px;
}
.modal-container .modal-close:hover{
    color: #000;
    background: #CCE;
}
.modal-container .modal-close{
    right: 0;
    top: 0;
    position: absolute;
    padding: 17px 15px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
.modal-container .modal-body{
    padding: 0 16px;
    
    
}
.modal-container .modal-label{
    display: block;
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 15px;
}
.modal-container .modal-input{
    padding: 11px 8px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
}
.modal-container #buy-tickets:hover{
    color: #000;
    background: #CCE;
}
.modal-container #buy-tickets{
    display: block;
    width: 100%;
    padding: 16px;
    border: none;
    margin: 16px 0;
    color: #fff;
    background-color: #009688;
    cursor: pointer;
}
.modal-container .modal-footer{
    text-align: right;
    padding: 0 16px;
    margin: 15px 0;
}
/* contact */
.content-section .section-body{
    padding-top: 47px;
}
.section-body i{
    width: 30px;
    padding-right: 12px;
    font-size: 18px;
}
.section-body .info-contact{
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 16px;
}
.section-body .contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid#ccc;
    width: 100%;
}   .contact-form .form-submit-btn:hover{
    color: #000;
    background-color: #CCE;
}
.contact-form .form-submit-btn{
    background-color: #000;
    border: none;
    color: #fff;
    padding: 10px 16px;
    float: right;
    outline: none;
    cursor: pointer;
}
#maproad img{
   width : 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
    

}
#footer .social-list a:hover{
    opacity: 0.4;
}
#footer .social-list a{
    text-decoration: none;
    color: #000;
    font-size: 24px;
    opacity: 0.6;
}
#footer .copyright{
    opacity: 0.6;
}
#footer .copyright a{
    color: #000;
    
}
@keyframes modalFadeIn{
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
#band{

}
#tour{

}
#contact{

}
#maproad{

}
#footer{

}